<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Style -->
<link href="{{site.baseurl}}dist/are-video-games-dead-yet.css" rel="stylesheet" media="all">
<!-- Social Media Info -->
<meta property="og:title" content="Are video games dead yet?">
<meta property="og:description" content="Check to see if video games are indeed dead.">
<meta property="og:url" content="https://arevideogamesdeadyet.com">
<meta name="twitter:card" content="summary">
<meta property="twitter:title" content="Are video games dead yet?">
<meta property="twitter:description" content="Check to see if video games are indeed dead.">
<meta name="twitter:site" content="@TheSeg">
<meta name="twitter:creator" content="@xMattieBrice">
<!-- JavaScript -->
<!-- Icons -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RQP6HJL786"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RQP6HJL786');
</script>
